<!DOCTYPE html>
<html>
<head>
	<title>Search-Engine</title>
	<style type="/static/css"></style>
	<meta charset="utf-8">
</head>
<body>

<div>
	<form action="/result" method="POST">
		<p align="center"><img src="/static/images/zot.jpg"></p>
        <p align="center">
		<label for="user_query">Please enter your query: </label>
		<input id="user_query" type="text" name="term" placeholder="Search..." maxlength="50">
		<p align="center"><button type="submit">Search</button></p>
        </p>
	</form>


</div>

</body>
</html>
